extends base

block content
     .account
          nav.sidebar
               ul.side-nav
                    li.side-nav__item
                         a.side-nav__link.side-nav__dashboard.active(href="#")
                              <i class="fas fa-chart-line side-nav__icon "></i>
                                   span Dasboard

                    li.side-nav__item
                         a.side-nav__link.side-nav__departures(href="#")
                              <i class="fas fa-bus side-nav__icon"></i>
                                   span Departures

                    li.side-nav__item
                         a.side-nav__link.side-nav__settings(href="#")
                              <i class="fas fa-user-cog side-nav__icon"></i>
                                   span Settings

               div.legal &copy; 2021 by Safej. All rights reserved.

          main.account__content
               